---
Checks: >
  *,
  -fuchsia-*,
  -altera-*,
  -google-*,
  -zircon-*,
  -abseil-*,
  -modernize-use-trailing-return-type,
  -llvm-*,
  -llvmlibc-callee-namespace,
  -bugprone-reserved-identifier

WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,          value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,           value: lower_case  }
  - { key: readability-identifier-naming.PrivateMemberPrefix,    value: m_          }
  - { key: readability-identifier-naming.ProtectedMemberPrefix,  value: m_          }


